body {
  background: url('../img/coming-soon.png') repeat-x top center fixed;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}

.coming-soon {
  text-transform: uppercase;
  text-align: center;
  font-size: 70px;
  opacity: 0;
}

.coming-soon span {
  letter-spacing: 8px;
  font-size: 18px;
  display: block;
}